.contenedorBotonCambioPerfil{
    display: flex;
    flex-direction: row;
    width: 10.5%;
    background-color: #50C7F1;

}


.textoPreguntaCerradaEncuesta{
    font-size: 20px;
}

.contenedorBotonCambioPerfil label {
    display: inline-block;
    line-height: 10px;
  }

.contenedorBotonCambioPerfil input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 1px;
    padding: 0.5em;
    width: 100px;
    height: 50px;
  
    background-color: #E5E5E5;
    transition: 0.2s all linear;
  
    position: relative;

    border-radius: 5px;
    
  }
  
.contenedorBotonCambioPerfil input:checked {
    background-color: #50C7F1;
  }




.radio-custom:checked ~ span {
    color: red;
  }