.contenedorBotonCambioPerfil{
  display: flex;
  flex-direction: row;
  height: 3.5rem;
  background-color: #50C7F1;
  width: fit-content;
  border-radius: 10px 10px 0 0;
}

.contenedorBotonCambioPerfil button {
  width: 6rem;
  height: 3rem;
  font-size: 1rem;
  cursor: pointer;
}