.contenedorGeneral-ListaUsuarios {
    top: 50px;
    width:  95%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 500px;
    overflow-y: scroll;
    scrollbar-width: 25px;

}

.espacio-para-overflow {
    height: 150px;
    width: 100%;
}

.tabla-ListaUsuarios {
    height: 100%;
    width: 100%;
    

}

.tabla-ListaUsuarios .encabazado-tabla-ListaUsuarios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #E5EAEE;
    padding: 0 30px 0 30px;
}

.tabla-ListaUsuarios .contenedor-barraBusqueda {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 50%;

}

#barraBusqueda-ListaUsuarios {
    width: 40%;
    height: 30px;
    padding: 10px;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #ADADAD;
    background: #E6E6E6;
    border-radius: 6px;
}

#barraBusqueda-ListaUsuarios::placeholder {
    color: #ADADAD;   
}

.contenedor-barraBusqueda .icono-buscar-ListaUsuarios {
    position:relative;
    left: -4%;
    color: #ADADAD;
}

.tabla-ListaUsuarios .contenedor-texto-Accion {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    color: #B5B5C3;
} 

.tabla-ListaUsuarios .fila-elemento-ListaUsuarios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 80px;    
    border-bottom: 2px solid #E5EAEE;
    padding: 0 30px 0 30px;
}

.tabla-ListaUsuarios .contenedor-nombre {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

.tabla-ListaUsuarios .contenedor-btn-editar {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}

.tabla-ListaUsuarios .contenedor-btn-editar .btn-editar-ListaUsuarios {
    background: #F3F6F9;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.tabla-ListaUsuarios .contenedor-btn-editar .icono-btn-editar-ListaUsuarios {
    color: #3699FF;
    font-size: 1.1rem;
    margin-left: 3px;
}







