.campo_RegistroAsesorCondiciones {
    font-style: normal;
    font-weight: 700;
    color: #1B4858;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

.contenedor-cambio-periodo {
    width: fit-content;
    position: absolute;
    left: 100%;
    top: 0;
    transform: translate(-120%, 50%);
}

.contenedor-calendarioDisponibilidad {
    width: 80%;
    margin: 1rem auto;
}





@media screen and (max-width: 480px){ 

    .contenedor-cambio-periodo{
        position: relative;
        margin-bottom: 20% ;
        left: 110%;
    }

    .contenedor-calendarioDisponibilidad {
        width: 100%;
        padding: auto;
        margin: auto;
    }


 

}