.title_administrarUsuarios{
    margin: 2 0 2rem 2rem;
    font-size: 2.3rem;
    display: relative;

}


.contenedor_administrarUsuarios{
    width: 65%;
    margin: auto;
}

.grupoBotones_administrarUsuarios{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.botonesSuperiores_administrarUsuarios{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    gap: 2rem;
    margin-bottom: 1rem;
}

.botonesInferiores_administrarUsuarios{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    gap: 2rem;
}

.botonGeneral_administrarUsuarios{
    width: 80px;
}

.botonAdministrarTextoDefinicion {
    font-size: 1.3rem;
}