/* we import 'Dosis' font from Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&display=swap');


.contenedor-login {
    width: 30%;
    height: 100vh;
    background: #455A64;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;

}

.contenedor-principal {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

}

.contenedor-principal h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;   
    color: #fff;

}

.contenedor-inputs {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-inputs .contenedor-textbox {
    width: 100%;
    height: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Dosis', sans-serif;
}
.contenedor-inputs .contenedor-textbox p {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #fff;
}
.contenedor-inputs .contenedor-textbox input {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    padding: 10px;
} 

.contenedor-olv-contra {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 10px;
    position: relative;
}

.contenedor-olv-contra a {
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-size: 0.9rem;
    color: #fff;
    cursor: pointer;
    font-weight: 200;
    transition: all 0.2s ease-in-out;
}

.contenedor-olv-contra a:hover {
    color: #2ec4b6;
}

.contenedor-inputs .contenedor-boton {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;

}

.logged-paragraph {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    font-size: 1.3rem;
    color: white;
}

.logged-user {
    width: 100%;
    text-align: center;
    margin: 1rem 0 2rem 0;
    font-size: 1.5rem;
    color: white;
}

.profile-img-login {
    position: relative;
    display: block;
    width: 25%;
    border-radius: 100%;
    border: 3px solid #000;
    margin: auto;
    background-color: white;
}

.btn-login-ingresar {
    width: 10vw;
    height: 50px;
    border-radius: 11px;
    background: #50C7F1;
    color: #000;
    font-weight: 400;
    font-size: 1.3rem;
    box-shadow: 2px 14px 54px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 14px 54px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 14px 54px -10px rgba(0,0,0,0.75);
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-login-cerrarsesion {
    background: var(--gris);
}

.logged-btn-align {
    margin: auto;
    display: block;
}

.contenedor-inputs .contenedor-boton a {
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.contenedor-inputs .contenedor-boton a:hover {
    color: #2ec4b6;
}

.contenedor-login .lateral-responsive {
    display: none;
}
.contenedor-login .lateral-fuera-responsive{
    display: none;
}


@media screen and (max-width: 768px) { 

    .contenedor-login {
        width: 100%;
        z-index: 100;
        height: 100vh;
        background: #455A64;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 0;
        top: 0;
        transition: all 1s ease-in-out;
    }

    .active-login {
        right: -100%;
    }

    @keyframes animacion-btn {
       0%{transform: translateX(0);}
       25%{ transform: translateX(5px);}
       50%{transform: translateX(5px);}
       100%{transform: translateX(0);}
    }

    .contenedor-login .lateral-responsive {
        display: flex;
        position: absolute;
        z-index: 10;
        top: 24px;
        left: 0;
        width: 15%;
        height: 7%;
        background: #50C7F1;
        justify-content: center;
        align-items: center;
        border-radius: 0 50px 50px 0;
        
        
    }

    .contenedor-login .lateral-responsive .icono1{
        font-size: 4vw;
        animation-name: animacion-btn;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    .contenedor-login .lateral-fuera-responsive {
        display: flex;
        position: absolute;
        z-index: 50;
        top: calc(100vh/4);
        left: -15%;
        width: 15%;
        height: 7%;
        background: #50C7F1;
        justify-content: center;
        align-items: center;
        border-radius: 50px 0 0 50px;
        box-shadow: -16px 13px 54px -10px rgba(0,0,0,0.75);
        -webkit-box-shadow: -16px 13px 54px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: -16px 13px 54px -10px rgba(0,0,0,0.75);
    }

    .contenedor-login .lateral-fuera-responsive .icono2 {
        font-size: 4vw;
        animation-name: animacion-btn;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    .contenedor-inputs .contenedor-boton button {
        width: 30%;
        height: 60%;
    }



 }
