.divNotificacion{
    position: relative;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #D3D3D3;
}

.tituloNotificacion{
    font-weight: bold;
}

.leyendaNotificacion{
    color: #555359;
}

.estadoNotificacion{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 45px;
}

.verdeNotificacion{
    background-color: #37833B;
}

.verdeBordeNotificacion{
    border-left: solid 10px #37833B;
}

.rojoNotificacion{
    background-color: #C8372D;
}

.rojoBordeNotificacion{
    border-left: solid 10px #C8372D;
}

.azulNotificacion{
    background-color: #00FFFF;
}

.azulBordeNotificacion{
    border-left: solid 10px #00FFFF;
}