.contenedorGeneral-PopUpGeneral {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.notActive {
    display: none;
}
.contenedor-PopUpGeneral {
    height: 30%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    border: 2px solid #000;
    border-radius: 20px;
    background: #fff;
}


.contenedor-PopUpGeneral-2 {
    height: 40%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 3px 10px 37px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 10px 37px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 10px 37px -7px rgba(0,0,0,0.75);
    padding: 15px;
    background: #fff;
}

.contenedorGeneral-PopUpGeneral .parte-arriba-PopUpGeneral {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;

}

.contenedorGeneral-PopUpGeneral .parte-arriba-PopUpGeneral-2 {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    flex-direction: column;
}

.parte-arriba-PopUpGeneral .texto-PopUpGeneral {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    
}

.parte-arriba-PopUpGeneral-2 .texto-encabezado-PopUpGeneral {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.parte-arriba-PopUpGeneral-2 .texto-PopUpGeneral-2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

.contenedorGeneral-PopUpGeneral .parte-abajo-PopUpGeneral {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-PopUpGeneral-2 .parte-abajo-PopUpGeneral-2 {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}





