.contenedor-general-PuSolicitudAsesoria {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* background: black; */
}

.show {
    display: none;
}

#relleno-popUpAsesoria {
    min-height: 100px;
}

.contenedor-general-PuSolicitudAsesoria .contenedor-PuSolicitudAsesoria {
    width: 100%;
    height: 100%;
    /* background: pink; */
    max-height: 660px;
    max-width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 50;
    box-shadow: 1px 10px 29px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 10px 29px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 29px -9px rgba(0,0,0,0.75);
    border-radius: 20px;
}

.contenedor-PuSolicitudAsesoria .encabezado-PuSolicitudAsesoria {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
    background: #fff;
    border-radius: 20px 20px 0 0;
}

.encabezado-PuSolicitudAsesoria .close-btn {
    position:relative;
    top: -15px;
    left: 14%;
    display: block;
    cursor: pointer;
    z-index: 100;
}

.encabezado-PuSolicitudAsesoria .close-btn .cross-cerrar {
    cursor: pointer;
    font-size: 1.2rem;
}

.contenedor-PuSolicitudAsesoria .contenido-PuSolicitudAsesoria{
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background: brown; */
    background: #fff;
    overflow-y:scroll;
    flex-direction: column;
    padding: 0 30px 0 30px;
}

.contenido-PuSolicitudAsesoria .contenedor-fechayhora {
    width: 100%;
    height: 50px;
    min-height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    /* background: grey; */
    background: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    margin: 5px 0 5px 0;
    
}

#letras-negritas {
    margin-right: 10px;
}

#letras-negras-column {
    margin-bottom: 10px;
}

.contenido-PuSolicitudAsesoria .contenedor-asesorado {
    width: 100%;
    height: 50px;
    min-height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    /* background: grey; */
    background: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    margin: 5px 0 5px 0;


}

.contenido-PuSolicitudAsesoria .contenedor-unidadFormacion {
    width: 100%;
    height: 60px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* background: grey; */
    background: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    margin: 5px 0 5px 0;


}
.contenido-PuSolicitudAsesoria .contenedor-duda {
    width: 100%;
    height: auto;
    min-height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /* background: grey; */
    background: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    margin: 15px 0 15px 0;
    overflow-y: scroll;

}
.contenido-PuSolicitudAsesoria .contenendor-imagenes{
    width: 100%;
    height: 200px;
    min-height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /* background: grey; */
    background: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    margin: 15px 0 15px 0;

}

.contenido-PuSolicitudAsesoria .contenendor-imagenes .galeria-imagenes {
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-mostrada {
    height: 100px;
    width: auto;
    margin: 15px;

}

.contenido-PuSolicitudAsesoria .separador-contenido-popUp {
    width: 100%;
    height: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: grey; */
    background: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    margin: 2px 0 2px 0;

}

.contenido-PuSolicitudAsesoria .contenedor-lugarAsesoria {
    width: 100%;
    height: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* background: grey; */
    background: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    margin: 15px 0 15px 0;

}

#lugar_asesoria {
    width: 100%;
    padding: 10px;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    background: #E6E6E6;
    border-radius: 5px;
    height: 50px;
    color: #000;
}

.contenido-PuSolicitudAsesoria .contenedor-asesores {
    width: 100%;
    height: 250px;
    min-height: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /* background: grey; */
    background: #fff;
    z-index: 50;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    margin: 15px 0 15px 0;
}

.contenedor-PuSolicitudAsesoria .footer-PuSolicitudAsesoria {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background: blue; */
    background: #fff;

    border-radius: 0 0 20px 20px;
}




