
/* estilo para contenedor general */
.contenedor-TarjetaListaDesplegable {
    height: 45px;
    min-height: 40px;
}

/* estilos para el tipo de tarjeta 1 */
.tipo1 {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.tipo1 .tabla-tipo-1 {
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

.tipo1 .tabla-tipo-1 .fila-general-TarjetaListaDesplegable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0px 10px 0px 10px;
}

.tipo1 .tabla-tipo-1 .claveUF-tipo-1 {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.tipo1 .tabla-tipo-1 .nombreUF-tipo-1 {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.blanco_tipo_1 {
    background: #fff;
}

.gris_tipo_1 {
    background: #C4C4C4;
}

/* estilos para el tipo de tarjeta 2 */

.tipo2 {
    width: 85%;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.tipo2 .tabla-tipo-2 {
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

.tipo2 .tabla-tipo-2 .fila-general-TarjetaListaDesplegable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0px 10px 0px 10px;
}

.tipo2 .tabla-tipo-2 .semestre-tipo-2 {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;


}
.tipo2 .tabla-tipo-2 .claveUF-tipo-2 {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;

}

.tipo2 .tabla-tipo-2 .nombreUF-tipo-2 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}
.tipo2 .tabla-tipo-2 .btn-cerrar-tipo2 {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}

.azul_tipo_2 {
    background: #1B4858;
}
.amarillo_tipo_2 {
    background: #4C451E;
}
.rojo_tipo_2 {
    background: #581B1B;
}

/* estilos para el tipo de tarjeta 3 */

.tipo3 {
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.tipo3 .tabla-tipo-3 {
    width: 100%;
    height: 100%;
    border-radius: 5px;
} 

.tipo3 .tabla-tipo-3 .fila-general-TarjetaListaDesplegable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0px 10px 0px 10px;
}

.tipo3 .tabla-tipo-3 .hora-asesoria-tipo-3 {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
}

.tipo3 .tabla-tipo-3 .contenido-tipo-3 {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
}


.tipo3 .tabla-tipo-3 .claveUF-tipo-3 {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #000;

}

.blanco_tipo3 {
    background: #fff;
}
.verde_tipo3 {
    background: #DFFFD3;
}
.rojo_tipo3 {
    background: #FFCCCC;
}
.amarillo_tipo3 {
    background: #F6F4B8;
}

/* Estilos para tabla tipo 4 */


.tipo4 {
    width: 85%;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.tipo4 .tabla-tipo-4 {
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

.tipo4 .tabla-tipo-4 .fila-general-TarjetaListaDesplegable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0px 10px 0px 10px;
}

.tipo4 .tabla-tipo-4 .semestre-tipo-4 {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;


}
.tipo4 .tabla-tipo-4 .claveUF-tipo-4 {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;

}

.tipo4 .tabla-tipo-4 .nombreUF-tipo-4{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}
.azul_tipo_2 {
    background: #1B4858;
}
.amarillo_tipo_2 {
    background: #4C451E;
}
.rojo_tipo_2 {
    background: #581B1B;
}


/* Estilos para tabla tipo 5 */

.tipo5 {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.tipo5 .tabla-tipo-1 {
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

.tipo5 .tabla-tipo-1 .fila-general-TarjetaListaDesplegable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0px 10px 0px 10px;
}

.tipo5 .tabla-tipo-1 .claveUF-tipo-1 {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.tipo5 .tabla-tipo-1 .nombreUF-tipo-1 {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

/* Estilos para tabla tipo 6 */


.tipo6 {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.tipo6 .tabla-tipo-1 {
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

.tipo6 .tabla-tipo-1 .fila-general-TarjetaListaDesplegable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0px 10px 0px 10px;
}

.tipo6 .tabla-tipo-1 .foto-user {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#imagen-usuario-tipo5 {
    border-radius: 100px;
    height: 95%
}

.tipo6 .tabla-tipo-1 .nombre-user {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.tipo6 .tabla-tipo-1 .matricula-user {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}