.campo_RegistroAsesoradoDatos{
    font-style: normal;
    font-weight: 700;
    color: #1B4858;
    margin-bottom: 0.3rem;
}

.advertencia_asterisco {
    margin-left: 1.5rem;
    color: rgba(0, 0, 0, 0.35);
}

.datosAsesorado_texto{
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.35);
}

.contener_DatosAsesoradoInputRegistro{
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedro_deInputsAsesoradoRegistro_credenciales{
    margin-top: 1rem;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.contenedro_deInputsAsesoradoRegistro{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.texto_contenedor_deInputsAsesoradoRegistro{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.contenedro_deInputsAsesoradoRegistro .arrow_down {
    bottom: 5%;
}

.contenedor_imagenPerfil {
    margin-top: 1rem;
}

.contenedor_imagenPerfil .title_imagenPerfil {
    text-align: center;
}

.input_incorrecto {
    font-weight: 500;
    color: rgb(228, 91, 91);
    padding-left: 1rem;
    font-size: 1rem;
    font-style: italic;
}