
@media screen and (max-width: 480px){ 

.contenedor-InfPerUsuario-izq{
    bottom: 20%;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenedor-InfPerUsuario-der{

    position: relative;
    top: 15%;
    right: 0;


}

.contenedor-img-perfil-InfPerUsuario .imagen-InfPerUsuario{
    height: 150px !important;
    width: 150px !important;
}

.contenedor-InfPerUsuario-der .etiqueta-nombre-InfPerUsuario{
    font-size: 30px !important;
}

.contenedor-InfPerUsuario-der .etiqueta-matricula-InfPerUsuario{
    font-size: 20px !important;
}

}