.container-aad {
    width: 80%;
    margin: auto;
}

.container-aad .top {
    margin-top: 1rem;
}

.container-aad .top p {
    padding: 0.5rem 0.5rem;
    font-weight: bold;
}

.container_ImageUploading {
    position: relative;
}

.container_ImageUploading .container_imagenes {
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container_ImageUploading .container_imagenes p {
    width: fit-content;
    margin: auto;
    font-size: 1rem;
    font-style: italic;
}

.container_ImageUploading .btn_upload {
    width: fit-content;
    margin: auto;
    padding-bottom: 0.5rem;
}