.botonPruebaEren{
    cursor: pointer;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;

    width: 40%;
    height: 250px;
    overflow: hidden;

    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

/* For Image inside  */
.botonPruebaEren div * {
    display: relative;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.botonAdministrarImagen {
    width: 50%;
    height: 20%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.botonAdministrarTextoDefinicion {
    font-size: 27px;
}

@media screen and (max-width: 480px){ 
  
    .botonPruebaEren{

        height: 200px;
    
    }
  
  
    }