.botonPruebaEren{
    cursor: pointer;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;

    width: 18%;
    height: 200%;
    overflow: hidden;

    display: flex;
    gap: 10px;
    align-items: center;

}

/* For Image inside  */
.botonPruebaEren div * {
    margin: 0 auto;
    display: block;
    align-items: center;
}

.botonAdministrarImagen {
    width: 50%;
    height: 20%;
}

.botonAdministrarTextoDefinicion {
    font-size: 27px;
}