:root {
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tarjeta_maestra {
    width: 85vw;
    box-shadow: var(--box-shadow);
    height: 90vh;
    border-radius: 20px;
    margin: auto;
    overflow-y: scroll;
    padding: 1rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.397); 
    border-radius: 10px;
  }