.container_ctp {
    display: inline;
    position: relative;
}

.container_ctp input {
    font-size: 1rem;
    padding: 10px;
    margin: 0;
    border: none;
    background-color: #e6e6e6;
    border-radius: 10px;
}

.container_ctp .password_visibility_icon {
    color: grey;
    position: absolute;
    right: 0px;
    margin: 8px;
    cursor: pointer;
}