.calendario{
    width: 70%;
}

.calendario tr{
    width: 100px;
}

.calendario tr td{
    width: 15%;
}

.nombreDiaCalendario{
    font-size: 20px;
}

.bloqueCalendario{
    padding: 5px;
}

/* RESPONSIVE 480 px */

@media screen and (max-width: 480px){

    .calendario{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

}