.tarjeta_maestra{
    position: relative;
}

.btnAtras{
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.btn_AdministrarUsuariosDirectivos{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;

}

.btn_AdministrarUsuariosDirectivos .botonCopiarLinkRegistro .btn{

    color: #3699FF;
    border-radius: 100px;
    
}

.textoDeBoton{
    color: #3699FF;
    
}

.divListaUsuarios {
    height: 65vh;
    width: 95%;
    margin: auto;
}

