.tarjeta_maestra{
    position: relative;
}

.btnAtras{
    /* position: absolute;
    left: 30px;
    bottom: 30px; */
    padding-top: 1rem;
}

.btn_AdministrarUsuariosDirectivos{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;

}

.btn_AdministrarUsuariosDirectivos .botonCopiarLinkRegistro .btn{

    color: #3699FF;
    border-radius: 100px;
    
}

.textoDeBoton{
    color: #3699FF;
    
}

.divListaUsuarios {
    height: 65vh;
    width: 95%;
    margin: auto;
}

.span-link-copiado-asesores {
    position: absolute;
    right: 0;
    transform: translate(-10rem, 5rem);
    z-index: 100;
    height: 3rem;
    background-color: rgb(226, 226, 226);
    padding: 1rem;
    border-radius: 1rem;
}