:root {
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.barra_lateral-container {
    width: 13rem;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

/* Logo PAE */

.pae_logo-container {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    height: 130px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pae_logo-container img {
    margin: auto;
    width: 50%;
    height: auto;
}

/* Barra */

.barra-container {
    width: 70%;
    margin: auto;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.barra_button {
    width: 100%;
    padding: 10px 0px;
}

.barra_button .icon, .barra_button p {
    color: #000;
    vertical-align: top;
}

.barra_button img {
    width: 50%;
    border-radius: 100%;
    border: 3px solid #000;
}

.barra_button:hover {
    background-color: #1f3741;
    border-radius: 20px 0px 0px 20px;
}

.barra_button:hover img {
    border-color: #FFF;
}

.barra_button:hover .icon, .barra_button:hover p {
    color: #FFF;
}

/* Footer */

.footer-container {
    width: 70%;
    margin: 0 auto;
    border-radius: 20px 20px 0px 0px;
    box-shadow: var(--box-shadow);
    text-align: center;
    justify-content: center;
}

.footer-container .theme-icon {
    color: #fff;
    background-color: #565656;
    border-radius: 10px;
    margin: 0.5rem;
}

.footer-container img {
    width: 50px;
    margin: 0.5rem;
}