.contenedorPreguntaAbiertaEncuesta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.textoPreguntaAbiertaEncuesta{
    font-size: 20px;
    color: #717171;
}

@media screen and (max-width: 480px){ 
  
    
    .textoPreguntaAbiertaEncuesta{
        font-size: 15px;
        
    }


    }