.campo_RegistroAsesoradoCondiciones{
    font-style: normal;
    font-weight: 700;
    color: #1B4858;
    
}



.condicionesAsesorado_texto{
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #000000;


}

.bloq_condicionesAsesorado{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
}

.condicionesAsesorado{
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.condiciones_condicionesAsesorado{
    width: 90%;
    height: 450px;
    border: 2px solid black; 
    border-radius: 10px;
    overflow-y: scroll;
}

.texto_condiciones_condicionesAsesorado{
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    padding: 15px;
    
    color: #000000;

}


