.campo_RegistroAsesorDatos{
    font-style: normal;
    font-weight: 700;
    color: #1B4858;
    margin-bottom: 0.3rem;
}

.advertencia_asterisco {
    margin-left: 1.5rem;
    color: rgba(0, 0, 0, 0.35);
}

.datosAsesor_texto{
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.35);
}

.contener_DatosAsesorInputRegistro{
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedro_deInputsAsesorRegistro_credenciales{
    margin-top: 1rem;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.contenedro_deInputsAsesorRegistro{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.texto_contenedor_deInputsAsesorRegistro{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.contenedro_deInputsAsesorRegistro .arrow_down {
    bottom: 5%;
}

.contenedor_imagenPerfil {
    margin-top: 1rem;
}

.contenedor_imagenPerfil .title_imagenPerfil {
    text-align: center;
}

.input_incorrecto {
    font-weight: 500;
    color: rgb(228, 91, 91);
    padding-left: 1rem;
    font-size: 1rem;
    font-style: italic;
}

@media screen and (max-width: 480px){ 


    .campo_RegistroAsesorDatos{
        margin-top: 0rem;
        font-size: 20px;
        
    }
    
    .advertencia_asterisco {
        font-size: 15px;
    }

    .contenedro_deInputsAsesorRegistro{
        width: 100%;
    }
 

}