/* Pop-up info asesoría */

.container{
    display: flex;
    align-items: stretch;
    gap: 3px;
    flex-direction: column;
    width: 35%;
    max-width: 35%;
    min-width: 20%;
    height: 80%;
    max-height: 80%;
    background: #fff;
    border: 3px solid #000000;
    border-radius: 20px;
    border-style: solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0% auto;
    z-index: 100;

}

.one{

    /* border: 3px solid #ff0000; */
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 20%;
    height: 10%;
}

.two{
    
    /* border: 3px solid #2bff00; */
    overflow-y: auto;
    overflow-x: hidden;

}

.three{

    /* border: 3px solid #001aff;*/
    display: flex;
    gap: 10px;
    flex-grow:2;
    flex-direction: row;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
    align-items: center;
    /* height: 50px; */

}

.three .divImg{
    height:10rem;
}

.four{

    /* border: 3px solid #ff00bf; */
    display: flex;
    gap: 3px;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 8%;
    padding-bottom: 80px;

}

.fourBox{
    justify-content: flex-start;
}


/* Asesoría Titulo*/

.titulo{
    top: 10%;
    left: 10%;
    bottom: 20%;
    max-width: 70%;
    position: relative;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    text-overflow: ellipsis;
    color: #000000;
    height: 100%;
}

/* Subtitulo */

.subtitulo{
    position: relative;
    top: 1%;
    left: 5%;
    
    font-family: 'Dosis';
    font-style: bold;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    display: grid;
    
    
    color: #000000;
}

/* Informacion */

.informacion{
    position: relative;
    top: 5%;
    left: 3%;
    width: 80%;
    

    font-family: 'Dosis';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 23px;
    

    color: #000000;
}

/* close 1 */
.close{
    cursor: pointer;
    position: relative;
    left: 92.5%;
    top: 40%;
    
}

.four .fourBox .btn{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-size: 20px;
}

@media screen and (max-width: 1430px){
    .container{
        width: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 1000px){
    .container{
        width: 65%;
        max-width: 65%;
    }
}

@media screen and (max-width: 765px){
    .container{
        width: 90%;
        max-width: 90%;
    }
}

@media screen and (max-width: 550px){
    .container{
        width: 99%;
        max-width: 99%;
    }
}

@media screen and (max-width: 480px){

    .four .fourBox .btn{
        margin-left: auto;
        margin-right: auto;
        width: 98%;
        font-size: 1.1em;
    }

    .four{
        padding-bottom: 10px;
    }

    .container{
        width: 70%;
        max-width: 70%;
        height: 80%;
        max-height: 80%;
    }

    .one{
        max-height: 20%;
        height: 12.5%;
    }

    .titulo{
        font-size: 23px;
    }

    .subtitulo{
        font-size: 15px;
    }
    
    /* Informacion */
    
    .informacion{
        font-size: 15px;
    }

    .close{
        left: 85%;
        top: 40%;
        
    }

    .three{

        /*border: 3px solid #001aff; */ 

        overflow-x: auto;
    
    }

    
    
}




    @media screen and (max-width: 1280px){
        .titulo{
            font-size: 25px;
            top: -15%;
        }
    }

