/* Pop-up info asesoría */

.container{
    display: flex;
    gap: 3px;
    flex-direction: column;
    width: 30%;
    max-width: 30%;
    min-width: 20%;
    height: 60%;
    max-height: 60%;
    background: #fff;
    border: 3px solid #000000;
    border-radius: 20px;
    border-style: solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0% auto;

}

.one{
    
    border: 3px solid #ff0000;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 20%;
    height: 10%;
}

.two{
    
    border: 3px solid #2bff00;
    overflow-y: auto;
    overflow-x: hidden;

}

.three{

    border: 3px solid #001aff;
    overflow-y: hidden;
    overflow-x: hidden;
}

.four{
    
    border: 3px solid #ff00bf;
    overflow-y: hidden;
    overflow-x: hidden;
}


/* Asesoría Titulo*/

.titulo{
    left: 10%;
    bottom: 20%;
    max-width: 70%;
    position: relative;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    text-overflow: ellipsis;
    color: #000000;
}

/* Subtitulo */

.subtitulo{
    position: relative;
    top: 1%;
    left: 5%;
    
    font-family: 'Dosis';
    font-style: bold;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    display: grid;
    
    
    color: #000000;
}

/* Informacion */

.informacion{
    position: relative;
    top: 5%;
    left: 3%;
    width: 80%;
    

    font-family: 'Dosis';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 23px;
    

    color: #000000;
}

/* close 1 */
.close{
    cursor: pointer;
    position: relative;
    left: 92.5%;
    top: 40%;
    
}





@media screen and (max-width: 480px){
    .container{
        width: 70%;
        max-width: 70%;
        height: 80%;
        max-height: 80%;
    }

    .one{
        max-height: 20%;
        height: 12.5%;
    }

    .titulo{
        font-size: 23px;
    }

    .subtitulo{
        font-size: 15px;
    }
    
    /* Informacion */
    
    .informacion{
        font-size: 15px;
    }

    .close{
        left: 85%;
        top: 40%;
        
    }

}