.containerUnidadesFormacion{
    height: 500px;
    margin-bottom: 20px;
}

.containerSeleccionUF, .containerMateriasSeleccionadas{
    width: 50%;
    float: left;
    height: 100%;
}

.containerSeleccionUF .contenedor-listaDesplegable-2{
    width: 90%;
}

.containerMateriasSeleccionadas{
    background-color: #D2D2D2;
}

.containerSeleccionBusquedaUF{
    height: 80px;
    margin-bottom: 20px;
}

.containerSeleccionPeriodo{
    width: 40%;
    float: left;
    height: 100%;
    padding-top: 20px;
}

.containerSeleccionPeriodo .container_cseld{
    margin: auto;
}

.containerSeleccionPeriodo .container_cseld input{
    font-weight: bold;
    font-size: 1.2rem;
}

.containerMateriaSeleccionada{
    margin-bottom: 10px;
}

.containerMateriaSeleccionada .contenedor-TarjetaListaDesplegable{
    margin: auto;
}

.listaDesplegableSemestre-1 .header-listaDesplegable-2{
    background-color: #1B4858;
}

.listaDesplegableSemestre-2 .header-listaDesplegable-2{
    background-color: #4C451E;
}

.listaDesplegableSemestre-3 .header-listaDesplegable-2{
    background-color: #581B1B;
}