.title_calendario {
    margin: 0 0 2rem 2rem;
    font-size: 2.3rem;
    display: inline;
}

.container_titleCalendar {
    padding-top: 2rem;
    height: 15%;
}

.calendarioStyle {
    position: relative;
    top: 0%;
    width: 100%;

}

.calendarioStyle .calendario {
    margin: auto;

}

.mesAno_style {
    position: relative;
    left: 80%;
    bottom: 55%;
    width: fit-content;
}


@media screen and (max-width: 480px){ 

    .container_titleCalendar{
        padding-top: 0px;
    }

    .title_calendario {
        margin: 0 0 2rem 5rem;
        font-size: 1.3rem;
        display: relative;

    }

    .mesAno_style {
        position: relative;
        left: 12.54%;
        bottom:-20%;
 
    }

    .calendarioStyle .calendario {
        margin-top: 10%;

    
    }


    
    }