.containerBarraBusqueda{
    width: fit-content;
    margin-left: 33px;
    color: #ADADAD;
    background: #E6E6E6;
    border-radius: 6px;
    margin-bottom: 30px;
}

.containerBarraBusqueda input{
    width: 90%;
    height: 30px;
    padding: 10px;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    background: #E6E6E6;
    border-radius: 6px;
}

.containerBarraBusqueda .icono{
    color: #ADADAD;
}

.containerListaDesplegableAsesorias {
    margin-bottom: 1rem;
}

.users_encuestas_container {
    height: 70%;
    overflow-y: scroll;
}