.btonDescargarEstadiPerfilDirectivo{
    padding-left: 20%;
    position: absolute;
    bottom: 20%;
}

/* responsive  */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .btonDescargarEstadiPerfilDirectivo{
        padding-left: 9%;
        position: absolute;
        bottom: -15%;
    }
    

}