.contenedor-InfPerUsuario-asesor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 3rem;
}

.containerListaUFResumen{
    height: 50%;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

.containerCambioMesPeriodoResumen{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.containerCalendarioDisponibilidadResumen{
    width: 60%;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}