.calendario_mini_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;
}

.calendario_mini_top{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calendario_mini_top .title_mes_anio{
    align-self: center;
    font-weight: bold;
    font-size: 1rem;
}

.buttonArrow{
    margin-inline: 50px;
    align-self: center;
    background: none;
    cursor: pointer;
}

.arrow_calendarioMini {
    border-radius: 100%;
    background-color: rgb(230, 230, 230);
    margin-top: 3px;
}

.arrow_calendarioMini:hover {
    background-color: rgb(189, 189, 189);
}

.calendario_mini_month{
    padding: 2%;
    height: 100%;
}

.calendario_mini_week_day{
    text-align: center;
    font-weight: 400;
    color: grey;
    width: calc(100% / 7);
}

.calendario_mini_day{
    text-align: center;
    font-weight: bold;
}

.calendario_mini_day a {
    color: inherit;
}