.btn{
    font-family: Dosis;
    border-radius: 20px;
    cursor: pointer;
    color: var(--blanco);
}

/* Sizes */

.normal{
    padding: 15px 30px;
    font-size: 23px;
}

.largo{
    padding: 15px 50px;
    font-size: 23px;
}

.grande{
    padding: 18px 33px;
    font-size: 27px;
}

.reducido{
    padding: 10px 20px;
    font-size: 23px;
}

/* Styles */

.negro{
    background-color: var(--negro);
}

.azulCielo{
    background-color: var(--azulCielo);
}

.rojo{
    background-color: var(--rojo);
}

.gris{
    background-color: var(--gris);
}

.turquesa{
    background-color: var(--turquesa);
}

.verde{
    background-color: var(--verde);
}

/* RESPONSIVE 480 px */

@media screen and (max-width: 480px){

    .btn{
        border-radius: 15px;
    }
    
    /* Sizes */
    
    .normal{
        padding: 10px 25px;
        font-size: 18px;
    }
    
    .largo{
        padding: 10px 45px;
        font-size: 18px;
    }
    
    .grande{
        padding: 13px 28px;
        font-size: 22px;
    }
    
    .reducido{
        padding: 5px 15px;
        font-size: 18px;
    }

}