@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root{
    --blanco: #FFFFFF;
    --negro: #000000;
    --azulCielo: #50C7F1;
    --rojo: #FF0000;
    --gris: #949494;
    --turquesa: #1B4858;
    --verde: #269D24;
}

.btn{
    font-family: Dosis;
    border-radius: 4vw;
    cursor: pointer;
    font-weight: bold;
    color: var(--blanco);
}

/* Styles */

.negro{
    background-color: var(--negro);
}

.azulCielo{
    background-color: var(--azulCielo);
}

.rojo{
    background-color: var(--rojo);
}

.gris{
    background-color: var(--gris);
}

.turquesa{
    background-color: var(--turquesa);
}

.verde{
    background-color: var(--verde);
}

/* Sizes */

.normal{
    padding: 20px 40px;
    font-size: 18px;
}

.small{
    padding: 15px 25px;
    font-size: 16px;
}

.large{
    padding: 30px 50px;
    font-size: 22px;
}